<div class="container">

      <div class="row row-offcanvas row-offcanvas-left">

	  <div class="col-xs-3 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
			
          <div class="list-group">
			<a ui-sref=".myBills" class="list-group-item">My Bills</a>
            <a ui-sref=".myFlats" class="list-group-item">My Flats</a>
            <a ui-sref=".myNotifications" class="list-group-item">My Notifications</a>
			<a ui-sref=".addSociety" class="list-group-item">Add Society</a>
          </div>
        </div><!--/span-->
		
        <div class="col-xs-9 col-sm-9">
          <div ui-view></div>
        </div><!--/span-->

        
      </div><!--/row-->

      <hr>



    </div><!--/.container-->